<h1>Watch List</h1>
<div class="containerlist">
<h2> Lists</h2>
  <% @lists.each do|list|%>
    <div class= "card-trip">
     <%= cl_image_path list.photo.key, height: 300, width: 400, crop: :fill %>
        <div class="card-trip-infos">
          <%= link_to list.name, list_path(list) %><br>
          <br>
        </div>
    </div>
  <% end %>
<%= link_to "Add a new list", new_list_path%>

<p> Fin des lists!</p>
</div>
<div>
<h2>Movies</h2>
  <% @movies.each do|movie|%>
    <div class="card-product">
      <img src="<%= movie.poster_url %>"/><br>
        <div class="card-product-infos">
          <%= movie.title %><br>
          <%= movie.rating %><br>
        </div>
    </div>
  <% end %>
</div>
